/* ************************************************************************************************************************************************************************************** */
body
{
	background-color: #FF6600;
}
body a.noDec ,a.noDec:hover
{
	text-decoration: none;
	color: #FFFFFF;
}
body a
{
	color: #FFFFFF;
	text-decoration: none;
}
body a:hover
{
	color: #FFFFFF;
	background-color: #FF6600;
	text-decoration: none;
}
.noTea
{
	background-color: #000000;
}
.notWhite
{
	color: #DDDDDD;
}
.customFont
{
	font-family: "mainFont";
	font-size: 20px;
	color: #FFFFFF;
}
.otherCustom
{
	font-family: "mainFont";
	font-size: 24px;
}
.mainCustomFont
{
	font-family: "mainFont";
	font-size: 150%;
	color: #FFFFFF;
}

@font-face
{
	font-family: customHeader;
	src: url("fonts/master_of_break.ttf");
}
@font-face
{
	font-family: mainFont;
	src: url("fonts/coolvet.ttf");
}
.whiteWell
{
	background-color: #FFFFFF;
	background: #FFFFFF;
}
.item
{
   padding: 2px;
   border:1px solid #DDDDDD;
   background-color:#FFFFFF;
   margin-top: 4px;
}
.customDesignImg
{
   padding: 10px;
   background-color:#000000;
   margin-top: 4px;
   position: relative;
}
#designImg
{
  position: absolute;
  top: 10%;
  left: 25%;
  width: 48%;
}
.lrBorder
{
	padding: 2px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.error
{
	color: #FF0000;
	font-family: "mainFont";
}
h4, h2, h5
{
	color: #FFFFFF;
}
.mainHeaderFont
{
	font-family: "customHeader";
	font-size: 200%;
	color: #FFFFFF;
}

/* ************************************************************************************************************************************************************************************** */




/* ************************************************************************************************************************************************************************************** */
/* BOOTSTRAP CRAP-O-LA */

/* navbar */

.navbar-default {
    background-color: #000000;
    border-color: none;
}
/* title */
.navbar-default .navbar-brand {
    color: #FFFFFF;
	background-color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #DDDDDD;
	text-decoration: none;
	background-color: #DDDDDD;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
	text-decoration: none;
	background-color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
	text-decoration: none;
	background-color: #000000;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #000000;
	text-decoration: none;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #FFFFFF;
	text-decoration: none;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
	text-decoration: none;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
	text-decoration: none;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FFFFFF;
	text-decoration: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #000000;
		text-decoration: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000000;
		text-decoration: none;
    }
}


/* ************************************************************************************************************************************************************************************** */

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #FFFFFF;
    color: #FFFFFF;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: none;
}
 
.btn-primary:active, .btn-primary.active {
    background: #FFFFFF;
    box-shadow: none;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #FFFFFF;
    color: #FFFFFF;
    box-shadow: none;
}

/* ************************************************************************************************************************************************************************************** */

.modalBack.modal-content{
    background-color: #000000;
}

.modalBack.modal-header{
    background-color: #FF6600;
}

.modalBack.modal-footer{
    background-color: #FF6600
}

#myEmail
{
	color: #FFFFFF;
	font-family: "mainFont";
	font-size: 150%;
}
#myUsername
{
	color: #FFFFFF;
	font-family: "mainFont";
	font-size: 150%;
}













































