@font-face
{
	font-family: customHeader;
	src: url("fonts/master_of_break.otf");
}
@font-face
{
	font-family: bodyFont;
	src: url("fonts/coolvet.ttf");
}

body {
	background-color: #DDDDDD;
}
h2 {
	font-family: customHeader;
	color: #003399;
}
.heading {
	background-color: #003399;
	color: #FFFFFF;
	font-family: "customHeader";
	font-size: 180%;
	height: 57px;
}
.addSmallPadding {
	margin-top: 10px;
}
.mainBody {
	font-family: bodyFont;
	color: #555555;
	font-size: 16px;
}
#glyph {
	margin-top: 15px;
}
.blockedHeight {
	height: 57px;
	color: #003399;
	font-family: "customHeader";
}

.progressBarBlue {
      background-color: #003399 !important;
}

.addBodyFont {
	font-family: bodyFont;
}
.addDisplayFont {
	font-family: customHeader;
	color: #003399;
}

.subHeading {
	font-family: customHeader;
	color: #4d88ff;
	font-size: 18px;
}
.basicImg {
	height: 10%;
}