/*AD1115 RED*/
/*850102 DARK RED*/
/*1974D1 BLUE */
/*000081 DARK BLUE*/

body {
    background-color: white;
}

#mobile_controls {
    display:none
}

#desktop_controls {
    display:block
}
            
@media(max-width:800px)
{
    #desktop_controls {
        display:none
    }
    #mobile_controls {
        display:block
    }
}

table {
    border: 1px solid darkgray;
    border:solid black 1px;
    border-radius:6px;
    background-color: white;
}

tr, td, th {
/*    border: 1px solid lightgray;*/
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 12px;
    background-color: #0f2d91;
    border-radius:6px;

    /* if a user clicks rapidly we dont want the table contents to highlight */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

th {
    font-size: x-large;
    background-color: white;
    color: black;
    width: 80px;
    height: 80px;
}

.unselected {
    background-color: #1974D1;
    color: white;
}

.selected {
    background-color: #000081;
    color: white;
}

#free_space {
    background-color: #AD1115;
    color: white;
}

#board_container
#desktop-controls {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#mobile_controls {
    width: 100%;
}

#bingo_board {
    margin: auto;
    max-width:  400px;
    max-height: 400px; 
    width: 100%;
    height: 100%;
}

.unselectable_text {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}


button {
    font-family: 'Ubuntu';
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:6px;  
}

button:hover {
    background-color: #850102;
    border-radius:12px;  
    color: white;
}

input, label {
    font-family: 'Ubuntu';
    font-size: 16px;
}